p {
    font-size: 18px;
    color: #fff;
}

a {
    font-size: 18px;
    text-decoration: none;
}

.label {
    font-size: 18px;
}

.main-container {
    width: 95%;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #cbcbcb;
    border-radius: 0px;
    background-color: #fff;
}

.answer-form {
    width: 100%;
    display: block;
}

.row {
    width: 95%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row-answer {
    width: 95%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
}

::file-selector-button,
::-webkit-file-upload-button {
    border: 0px;
    border-right: 1px solid #ced4da;
    background: rgb(255, 255, 255);
}

.lines {
    height: 20rem;
    resize: none;
    font-size: 20px;
}

.btn {
    display: inline-block;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 0;
}

.btn:hover {
    background-color: #4e4e4e;
    color: #ffffff;
    transition: 0.3s;
}

.content-end {
    display: flex;
    justify-content: end;
}

.w-20 {
    flex: 0 0 auto;
    width: fit-content;
}

.w-80 {
    flex: 0 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.bestw-80 {
    flex: 0 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
}

.bestw-80 i{
    color: goldenrod;
    font-size: 25px;
    padding: 5px;
}

.bestText-container{
    display: flex;
    flex-direction: column;
}

.title-margin {
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 1rem;
}

.content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.icon-wrap {
    display: flex;
    justify-content: center;
}

.user-name {
    color: #707070;
    font-size: 20px;
    font-weight: bold;
}

.user-icon {
    width: 64px;
    height: 64px;
    border: solid 1px #ced4da;
    border-radius: 50%;
}

.name-wrap {
    display: flex;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
}

.text-wrap {
    display: flex;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.answer-text {
    text-decoration: none;
    color: #707070;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    font-weight: normal;
    font-size: 20px;
}

.content-end {
    display: flex;
    justify-content: end;
}

.question-text {
    margin-bottom: 15px;
    margin-top: 15px;
    color: #212529
}

.user-data {
    width: 40%;
    display: flex;
}

.user-icon {
    width: 64px;
    height: 64px;
    border: solid 1px #ced4da;
    border-radius: 50%;
}

.name {
    color: #4e4e4e;
    font-weight: bold;
}

.hr-margin {
    margin-bottom: 40px;
}

.bot-wrap {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: end;
    justify-content: end;
    color: #4b4b4b;
    font-size: 15px;
    font-weight: bold;
}

.bestAns-container{
    width: 100%;
    display: flex;
}