.main-container {
    width: 95%;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: transparent;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.content-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.start-content {
    @media (min-width: 760px) {
        width: 65%;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 2px;
    }

    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 2px;
}

.end-content {
    @media (min-width: 760px) {
        flex: 0 0 auto;
        width: 30%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 2px;
        margin-top: 0px;
        padding: 10px
    }

    @media (max-width: 760px) {
        display: none;
    }

}

.row {
    width: 95%;
    flex-wrap: wrap;
    display: flex;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.w-20 {
    flex: 0 0 auto;
    width: 20%;
}

.w-80 {
    flex: 0 0 auto;
    width: 80%;
    display: flex;
    align-items: center;
}


.icon-wrap {
    display: flex;
    justify-content: center;
}

.name-wrap {
    display: flex;
    justify-content: center;
}

.user-icon {
    width: 48px;
    height: 48px;
    border: solid 1px #ced4da;
    border-radius: 50%;
}

.tag-container {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
}

.tag {
    margin: 5px;
    padding: 5 10 5 10;
    font-weight: bold;
    color: #4f4f4f;
    border-radius: 2px;
    background-color: #ced4da;
}

.article-title {
    color: #000000;
    font-size: 25px;
    font-weight: bold;
}


.main-text-title {
    margin-top: 20px;
    color: #404040;
    font-size: 20px;
    font-weight: bold;
}

.main-text {
    width: 100%;
    color: #454545;
    font-size: 15px;
}

.comment-group {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.margin-top-other {
    margin-top: 20px;
}

.comment-textarea {
    width: 100%;
    height: 5rem;
    resize: none;
    font-size: 20px;
}

.btn {
    display: inline-block;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #ced4da;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: 0;
}

.btn:hover {
    background-color: #4e4e4e;
    color: #ffffff;
    transition: 0.3s;
}

.content-end {
    width: 100%;
    margin-top: 10px;
    justify-content: end;
    display: flex;
}


.answer-text {
    overflow-wrap: normal;
}
