p {
    font-size: 15px;
    margin-bottom: 10px;
}

a {
    font-size: 18px;
    text-decoration: none;
}

.main-container {
    width: 95%;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #cbcbcb;
    border-radius: 3px;
    background-color: #fff;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

div#alert p {
    margin: 10px;
    color: red;
    font-weight: bold;
    text-align: center;
}

.center {
    text-align: center;
}

.row {
    width: 95%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.label {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    border-radius: 0;
}

input[type='text'] {
    font-size: 20px;
}

input[type='email'] {
    font-size: 20px;
}

input[type='password'] {
    font-size: 20px;
}

.button {
    margin: 10px 0;
    text-align: center;
}

.btn {
    background-color: rgb(25, 25, 25);
    width: 150px;
    height: 50px;
    color: white;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    border-radius: 0;
}

.cancel {
    color: #000;
    background-color: white;
    border-radius: 0;
    border: 2px solid #000;
    width: 150px;
    height: 50px;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.forget {
    text-align: center;
    margin-bottom: 15px;
}