body {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 18px;
    color: #fff;
}

a {
    font-size: 18px;
    text-decoration: none;
}

input[type='search'] {
    width: 60%;
    max-width: 500px;
    border: 0;
    font-size: 20px;

}

input[type='submit'] {
    width: 40px;
    height: 25px;
}

.question {
    width: 49%;
    font-size: 13px;
    float: left;
    display: inline;
    color: #5a5a5a;
    margin: 0;
    text-align: center;
}

.article {
    width: 49%;
    font-size: 13px;
    float: left;
    display: inline;
    color: #5a5a5a;
    margin: 0;
    text-align: center;
}

.questionAll {
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #5a5a5a;
    margin: 0;
    padding: 0px 0px 5px 0px;
    text-align: center;
}

.articleAll {
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #5a5a5a;
    margin: 0;
    text-align: center;
}

.div-y {
    width: 0px;
    height: 100%;
    float: left;
    display: inline;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}

.total {
    width: 95%;
    max-width: 950px;
    height: 60%;
    margin: 0px auto 0px;
    background: #fff;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}

.search {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: center;
}