body {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

p {
    font-size: 18px;
    color: #fff;
}

a {
    font-size: 18px;
    text-decoration: none;
}

input[type='search'] {
    font-size: 20px;
}

.input {
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.search-btn {
    display: block;
    width: 80px;
    padding: .375rem .75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

input[type='submit'] {
    width: 40px;
    height: 25px;
}

.qa-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.question {
    width: 50%;
    min-height: 100%;
    font-size: 13px;
    color: #5a5a5a;
    margin: 0;
    text-align: center;
    border-right: 1px solid gray;
    box-sizing: border-box;
}

.article {
    width: 50%;
    min-height: 100%;
    font-size: 13px;
    color: #5a5a5a;
    margin: 0;
    text-align: center;
    border-left: 1px solid gray;
    box-sizing: border-box;
}

.questionAll {
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #5a5a5a;
    margin: 0;
    text-align: center;

}

.articleAll {
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #5a5a5a;
    margin: 0;
    text-align: center;
}

.total {
    width: 95%;
    max-width: 950px;
    height: fit-content;
    margin: 0px auto 0px;
    background-color: #fff;
    flex-wrap: wrap;
    border-top: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}

.search {
    z-index: 1030;
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
}

.hr-margin {
    margin-top: 5px;
}

.title a {
    text-decoration: none;
    color: #000000;
}

.title a:hover {
    text-decoration: underline;
    color: #000000;
}

.row {
    width: 95%;
    flex-wrap: wrap;
    display: flex;
    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.w-20 {
    flex: 0 0 auto;
    width: 20%;
}

.w-80 {
    flex: 0 0 auto;
    width: 80%;
}


.icon-wrap {
    display: flex;
    justify-content: center;
}

.user-icon {
    width: 64px;
    height: 64px;
    border: solid 1px #ced4da;
    border-radius: 50%;
}

.ZeroHit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

.ZeroHit p{
    font-size: 24px;
    color: #000000;
}

.ZeroHitDisplay{
    display: none;
}