p {
    margin: 5px;
    font-size: 18px;
    color: black;
}

h3 {
    margin: 10px;
}

a {
    font-size: 18px;
    text-decoration: none;
}

.main-block {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 950px;
    height: auto;
}

.main-block-wrapper {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

div#alert p {
    margin: 10px;
    color: red;
    font-weight: bold;
    text-align: center;
}

div#alert {
    margin: 10px;
}

.left-contents {
    display: block;
    margin-right: 5%;
    width: 25%;
}

.right-contents {
    display: block;
    width: 70%;
}

.icon {
    background-color: rgb(69, 69, 69);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 100%;
    height: auto;
}

input[type=file] {
    display: none;
}

label.selectimg {
    display: block;
    width: auto;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: white;
    border: solid 2px rgb(25, 25, 25);
    text-align: center;
}

#filename p {
    font-size: 15px;
}

input[type=submit].iconchange {
    width: 100%;
    height: auto;
    min-width: 60px;
    border-radius: 0;
    text-align: center;
padding: 5px;
}



img#iconimg {
    width: 100%;
}

.buttonEl {
    width: 100%;
    height: 100%;
}

.name {
    background-color: rgb(69, 69, 69);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    height: auto;
}

.textBoxEl {
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.achievements {
    background-color: rgb(69, 69, 69);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    height: auto;
}

form {
    text-align: center;
    width: 100%;
}

input[type=password] {
    font-size: 20px;
}

input[type=submit] {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 30%;
    min-width: 180px;
    font-size: 20px;
    border: none;
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 200;
}

input[type=submit]:hover {
    background-color: rgb(69, 69, 69);
}

.main-block-wrapper2 {
    display: block;
    width: 90%;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

.mailaddress {
    background-color: rgb(69, 69, 69);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    height: auto;
}

.point {
    background-color: rgb(69, 69, 69);
    color: white;
    padding: 5px;
    width: 100%;
    height: auto;
}

.password {
    background-color: rgb(69, 69, 69);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    height: auto;
}

.password-change {
    background-color: rgb(69, 69, 69);
    color: white;
    margin-left: 235px;
    width: 175px;
    height: 45px;
    border-radius: 0;
    text-align: center;
}

.postedItem {
    background-color: rgb(69, 69, 69);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    height: auto;
}

.postedContent{
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
}

.postedContent .wrap{
    display: flex;
}

.postedContent a{
    width: 80%;
}

.postedContent form{
    width: 20%;
}

.deleteBtn{
    border: none;
    outline: none;
    background: transparent;
}

.deleteBtn:hover{
    cursor: pointer;
}

.username {
    font-size: 20px;
    margin: 5px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.center {
    display: flex;
    justify-content: center;
    width: 100%;
}

.password-change {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 30%;
    min-width: 180px;
    font-size: 20px;
    border: none;
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: "Kosugi Maru", sans-serif;
    font-weight: 200;
}

.password-change:hover {
    background-color: rgb(69, 69, 69);
}

.postedContent{
    border: 2px solid rgb(69, 69, 69);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.postedContent a {
color: #000;
}
.postedContent a:hover{
    text-decoration: underline;
}